*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:black;
}

.card{
    width:90%;
    max-width:470px;
    background:linear-gradient(135deg,#4A4E69,#22223B,#3F3758,#2B2A4D);
    color:#fff;
    margin:100px auto 0;
    border-radius:20px;
    padding:40px 35px;
    text-align:center;
}

/* Search */

.search{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}

.search button{
    border:0;
    outline:0;
    background:#ebfffc;
    width:60px;
    height:60px;
    border-radius:50%;
    cursor:pointer;
    transition:0.3s;
}

.search button:hover{
    transform:scale(1.08);
}

.search button img{
    width:18px;
}

/* Weather */

.weather{
    margin-top:30px;
}

.weather-icon{
    width:170px;
    margin-top:20px;
}

.weather h1{
    font-size:80px;
    font-weight:500;
    margin-top:20px;
}

.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top:10px;
}

/* Details */

.details{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:50px;
}

.col{
    display:flex;
    align-items:center;
    text-align:left;
}

.col img{
    width:40px;
    margin-right:12px;
}

.humidity,
.wind{
    font-size:28px;
    font-weight:600;
}

.col p:last-child{
    font-size:14px;
    color:#d6d6d6;
    margin-top:4px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}